<div class="form-group">
    <label for="title" style="color:black;" class="text-info">Title</label><br>
    <input type="text" name="title" class="form-control" Placeholder="subject of the petition" required />

</div>
<div class="form-group">
    <label for="intented_to" style="color:black;" class="text-info">Intended To</label><br>
    <input type="text" name="intended_to" class="form-control" Placeholder="NA/NCOP/Committees" required />

</div>

<input 
    data-request="onNext"
    data-request-data="step:2"
type="submit" style="background-color:#9e7c0c;color:#ffffff;" name="Create" class="btn btn-default" value="Next"></a>